 <style>
  
  
   body {
       padding: 3% 6%;
  
    font-family: Roboto, serif;
    font-size: 19px;
    line-height: 27px;
  }
  
  
        .url {
  color: #295E9A;
          text-decoration: none;
           border-color: #53cfb6;
        
}
            .outline {
    border: 3px solid #FFFFF0;
    padding: 10 10px;
   background-color: #FFFFF0;
   }
        
        
  .row {
   
    display: flex;
    flex-direction: row;
   margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;}
    
  }

            
        h1 {
 				display: block;
			font-family: Verdana;
			font-size: 34px;
			font-style: normal;
			font-weight: bold;
			line-height: 125%;
			letter-spacing: normal;
			margin: 0;
			text-align: left;}

h2 {
  	display: block;
			font-family: Montserrat, 'Helvetica Neue', 'Helvetica', Arial, PT Sans, sans-serif;
			font-size: 34px;
			font-style: normal;
			font-weight: bold;
			line-height: 125%;
  padding-bottom: 1rem;
			letter-spacing: normal;
			margin: 0;
			text-align: left;}

h3 {
  font-size: 135%;
  margin-bottom: 0;
  padding-bottom: 0.15rem;;
  padding-top: 0.7rem;}
        
        
        
  p {      
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
  padding-top: 0.1rem;}
        
        }

  img {
   max-width: 100%;
   padding-bottom: 0rem;;
  padding-top: 1rem;
  padding-left: 0rem;
  padding-right: 1rem;}
  }
  
  .col-1 {
    /*
    * Уменьшаем кегль
    * в узких колонках.
    */
    font-size: 16px;
    line-height: 18px;
  }
  

        
        
          @media (min-width: 600px) {
    .foto {-ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;}
    .privet {-ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;}}

 @media (max-width: 600px) {
    .foto {-ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;}
   .privet {-ms-flex: 0 0 80%;
       flex: 0 0 80%;
      max-width: 80%;}}
        
        </style>
