h1 {
  font-size: 150%;
  margin-bottom: 0;
  padding-bottom: 1rem;
  padding-top: 0.5rem;}

h2 {
  font-size: 135%;
  margin-bottom: 0;
  padding-bottom: 0.15rem;;
  padding-top: 1.3rem;}

h3 {
  font-size: 135%;
  margin-bottom: 0;
  padding-bottom: 0.15rem;;
  padding-top: 0.7rem;}

li {
  font-size:115%;
  margin-bottom: 0;
  padding-bottom: 0.1rem;;
  padding-top: 0rem; 
}

a {text-decoration: none;
color: black;}

p {
  font-size:115%;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
  padding-top: 0.1rem;}

img {
  padding-bottom: 0rem;;
  padding-top: 1rem;
  padding-left: 0rem;
  padding-right: 1rem;}

.row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;}


.foto {
  flex-basis: 15%;
  margin-right: 15px;}
.privet {
  flex-basis: 50%;}

  @media (min-width: 600px) {
    .foto {-ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;}
    .privet {-ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;}}

 @media (max-width: 600px) {
    .foto {-ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;}
   .privet {-ms-flex: 0 0 80%;
       flex: 0 0 80%;
      max-width: 80%;}}

      
.opisanie {
  flex-basis: 75%;
  flex-grow: 75%; 
  flex-shrink: 75%;}

.snoska {
  font-size:100%; 
  line-height: 1.3rem;
}
